
		* {
			margin: 0;
			padding: 0;
		}
		.rightNav input[type="text"] {
			width: 200px; 
			padding: 15px; 
			font-size: 16px; 
		  }
        body {
   
 background-color: rgb(118, 135, 133);;
            background-size: cover;
            margin: 0;
          font-family: Arial, Helvetica, sans-serif;}
        
        input[type=text], input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
		.logo{
			width: 20%;
			height: 60%;
			border-radius: 20%;	
		}
		header {
			background-color: #000000;
			padding: 5px;
			text-align: center;
			font-size: 15px;
			color: white;
		  }

		  .nav-list {
			width: 95%;
			display: flex;
			align-items: center; 
			float: left;
		}
		.navbar {
			display: flex;
			align-items: center;
			justify-content: center;
			position: sticky;
			top: 0;
			background-size: 150px;
			cursor: pointer;
		}
		
		 .background {
			background: rgb(88, 86, 86);
			background-blend-mode: darken;
			background-size: 150px;
		} 
		
		
		.nav-list li {
			list-style: none;
			padding: 20px 20px;
		}
		
		.nav-list li a {
			text-decoration: none;
			color: rgb(255, 249, 249);
		}
		
		.nav-list li a:hover {
			color: rgb(0, 0, 0);
		}
		.rightnav {
			width: 20%;
			text-align: right;
		} 
		.rightNav .search-icon {
			display: inline-block;
			width:20px;
			height: 20px; 
			line-height: 20px; 
			text-align: center;
			border-radius: 100%;
			background-color: #d7dbdf; 
			color: #eee9e9; 
			cursor: pointer;
		  }
		  
		  #search {
			padding: 12px;
			font-size: 12px;
			border: 2px solid;
			color: rgb(0, 0, 0);
			border-radius: 9px;
		}
		.sidebar {
			height: 100%;
			width: 250px;
			position: fixed;
			z-index: 1;
			top: 0;
			left: -250px;
			background-color: #f7f7f8;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
		  }
		  
		  .sidebar a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 20px;
			color: rgb(15, 14, 14);
			display: block;
			transition: 0.3s;
		  }
		  
		  .sidebar a:hover {
			color: #4CAF50;
		  }
		  .menu-btn {
			position: fixed;
			left: 15px;
			top: 15px;
			cursor: pointer;
			font-size: 24px;
			color: rgb(239, 236, 236);
			z-index: 2;
		  }
		  .navbar2{
			
			color: #fff;
			padding: 10px;
			text-align: right;
			position: relative; 
		  }
		  
		  .ai-bot {
			position: fixed;
			top: 20px;
			right: 20px;
			font-size: 24px;
			color: #565d65;
			cursor: pointer;
		  }
		  

		.firstsection {
			background-color:rgb(138, 180, 175);
			height: 350px;
		}
    .images{
      background-color:rgb(138, 180, 175);
			height: 700px;
    }
    .image{
      background-color:white;
			height: 400px;
			
    }

		.secondsection {
			background-color:rgb(138, 180, 175);
			height: 600px;
		}
    .firstHalf{
      .firstHalfimg{
        float: right ;
        border-radius: 70%;
      }
      width: 70%;
			border-radius: 50%;
			display: block;
			margin: auto;
     text-align: center;
    }
   
		.lsec{
			background-color:rgb(138, 180, 175);
			height: 100px;
		}
        

		.box-main {
			
			display: flex;
			justify-content: center;
			 align-items: center; 
			color: black;
			max-width: 90%;
			margin: auto;
			height: 90%;
			border-radius: 10px;
		}
		.box{
			display: flex;
			justify-content: center;
			align-items: center;
			color: black;
			max-width: 80%;
			margin: auto;
			height: 20%;
		}
		/* .logoo{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.logoo img {
			width: 100px;
			border-radius: 50px;
		} */

		
		.first{
			width: 50%;
            height: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			
		}

		

        .ssection{
            background-color:rgb(138, 180, 175);
			height: 500px;
        }
        .boxmain{
            display: flex;
			justify-content: center;
			align-items: center;
			color: black;
			max-width: 60%;
			margin: auto;
			height: 60%;
        }
		
		


		.text-big {
			font-family: 'Piazzolla', serif;
			font-weight: bold;
			font-size: 45px;
		}

		.text-small {
			font-size: 25px;
			text-align: left;
		}

		.btn1{
			padding: 9px 9px;
			margin: 9px 0;
			border: 2px solid rgb(0, 0, 0);
			border-radius: 8px;
			background: black;
			color: rgb(255, 255, 255);
			cursor: pointer;
			width: 120px;
			height: 10pxpx;
			font-size: 17px;
		}
		
		.btn2{
			padding: 9px 9px;
			margin: 9px 0;
			border: 2px solid rgb(74, 107, 109);
			border-radius: 8px;
			background: rgb(74, 103, 105);
			color: rgb(255, 255, 255);
			cursor: pointer;
			width: 200px;
			height: 11pxpx;
			font-size: 14px;
		}

		.btn-sm {
			padding: 6px 10px;
			vertical-align: middle;
		}

		.section {
			height: 400px;
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 100%;
			margin: auto;
			background-color: rgb(251, 252, 252);;
			
		}

		.section-Left {
			flex-direction: row-reverse;
		}

		.paras {
			padding: 0px 65px;
		}

		

		.center {
			text-align: center;
		}

		.text-footer {
			text-align: center;
			padding: 30px 0;
			font-family: 'Ubuntu', sans-serif;
			display: flex;
			justify-content: center;
			color: white;
		}
        
		  .btn{
			background-color: #000000;
              color: rgb(0, 0, 0);
              padding: 10px 20px; 
              margin: 5px 0;
              border: none;
              cursor: pointer;
              width: 50; 
		  }
		  .btn:hover{
			opacity: 0.8;
		  }
          button {
  
            background-color: #000000;
 			 color: white;
  			padding: 10px 20px; 
 			 margin: 10px 0;
  			border: none;
  			cursor: pointer;
 			 width: 100%; 
            }
            
            button:hover {
              opacity: 0.8;
            }
			.quiztest{
				background-color:rgb(255, 255, 255);
			height: 700px;
			}
			.exe{
			background-color: rgb(138, 180, 175);
			display: flex;
			 justify-content: center;
			align-items: center; 
			color: rgb(237, 241, 243);
			border-radius: 20px;
			max-width: 70%;
			margin: auto;
			height: 650px;
			}
			.skill{
				display: block;
				margin: auto;
				width: 70%;
				height: 70%;
				
			}
			.test{
			
			margin: 10px 0;
			width: 50%; 
			height: 50%;

			}
			.quiz{
				padding: 20px;
				border-radius: 20px;
				background-color: rgb(0, 0, 0);
				height: 50%;
			} 
			.half{
				padding: 4px 20px;
				margin: 4px 0;
				border-radius: 8px;
				background: rgb(255, 255, 255);
				color: white; 
				cursor: pointer;
			}
			.exercise{
		                    		padding: 20px;
				border-radius: 20px;
				background-color: rgb(255, 253, 253);
				color: rgb(0, 0, 0);
			}
			.lastsection{
				background-color: rgb(138, 180, 175);
				justify-content: center;
				text-align: center;
				display: block;
			}
            .last{
                background-color:white;
			height: 400px;
            }
            .four{
                display: flex;
			justify-content: center;
			align-items: center;
			color: rgb(28, 27, 27);
			max-width: 70%;
			margin: auto;
			height: 80%;
            }
            .log{
                display: flex;
			justify-content: center;
			align-items: center;
            width: 100%;
            }
            .log img{
                width: 50px;
                border-radius: 50px;
            }
            .cancelbtn {
                width: 100px;
                padding: 10px 18px;
                background-color: #f44336;
              }
			  .container {
				padding: 10px;
			  }
            span.psw {
                float: right;
                padding-top: 16px;
              }
            .modal {
                display: none; 
                position: fixed;
                z-index: 1; 
                left: 0;
                top: 0;
                width: 100%; 
                height: 100%; 
                overflow: auto; 
                background-color: rgb(7, 6, 6); 
                background-color: rgba(0,0,0,0.4);
                padding-top: 60px;
              } 
              
            .modal-content {
                background-color: white;
                margin: 5% auto 15% auto; 
                border: 20px solid white;
                width: 25%;
              }
            .close {
                position: fixed;
                right: 25px;
                top: 0;
                color: #f8f8f8;
                font-size: 35px;
                font-weight: bold;
              }
              .close:hover,
             .close:focus {
             color: rgb(255, 255, 255);
              cursor: pointer;
              } *
			  .sharethis{
				padding: 20px;
				background-attachment: fixed;
				text-align: center;
				margin: 5px 2px;
				background-color: rgb(255, 255, 255);
				border-radius: 10px;
			  }
			  .end{
				width: 100%;
            height: 10%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			  }
			  .fa-linkedin {
				background: #007bb5;
				color: white;
			  }
			  .fa-twitter {
				background: #55ACEE;
				color: white;
			  }
			  
			  .fa-facebook {
				background: #3B5998;
				color: white;
			  }
			  .fa-instagram {
				background: #f3f3f3;
				color: rgb(203, 18, 89);
			  }
			  .fa:hover {
				opacity: 1;
			}
			
			.fa {
				padding: 15px;
				font-size: 30px;
				width: 40px;
				text-align: center;
				text-decoration: none;
				margin: 5px 2px;
				border-radius: 50%;
			  }
			  
              .space{
                width: 4px;
                height: auto;
                display: inline;
              }
              .animate {
                -webkit-animation: animatezoom 0.6s;
                animation: animatezoom 0.6s
              }
			 
			
          @-webkit-keyframes animatezoom {
                  from {-webkit-transform: scale(0)} 
                  to {-webkit-transform: scale(1)}
                }
                  
                @keyframes animatezoom {
                  from {transform: scale(0)} 
                  to {transform: scale(1)}
                }
                
                
                @media screen and (max-width: 300px) {
                  span.psw {
                     display: block;
                     float: none;
                  }
                  .cancelbtn {
                     width: 100%;
                  }
                }